
.login-container, .register-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100vh;
    
}

.login-container{
    background-color:white;
    color:#274156;

}

.register-container{
    background-color:#1C6E8C;
    color:white;
}

.form-container{

    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    width:50vw;
    min-height:40vh;
    border-radius:5px;
    align-items:center;
    padding:10px;

}

#login{
    background-color:#1C6E8C;
    color:white;
}

#register{
    background-color:white;
    color:#274156;

}
.login-input input[type="text"], .login-input input[type="password"],
.login-input{
    font-size:24px;
    padding:5px;
    margin-left:5px;
    width:90%;
}

.form-input{
    padding:5px;
    border-radius: 5px;
}

.form-input input[type="text"], .form-input input[type="password"], .form-input input[type="email"]
{
    width:200px;
    margin-left:5px;
}

#register {
    margin:5px;
}

#tandc{
    margin:10px;
    width:70%;
    font-size:14px;
    color:#1C6E8C;
    text-align: center;
}


label{
    font-weight: bold;
}

button{
    width:25vw;

}

.reg-button{
    background-color:#C6ECAE;
    color:black;
    text-decoration: none;
    padding:10px;
    border-radius: 5%;
}