
* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Didact Gothic', sans-serif;
    margin:0;
    background-color:#042348;
}

.logout-btn{
    font-size:12px;
    width:50%;
    border-style: none;
    background-color:#8895A6;
    color:#FBFAFB;

}

.custom-nav{
    background-color:#FBFAFB;
    margin-left:15px;
    margin-top:10px;
    height:95%;

}

.container-fluid .nav .active {
    background-color:#E49C2F !important;
}
.container-fluid .nav .active .ms-2,
.container-fluid .nav .active .icon {
    color: #FBFAFB !important;
}


.ms-2, .icon{
    color:#042348;
}


.custom-topbar {
    background-color:#FBFAFB;
    border:15px solid #94B7CB;
}

.custom-topbar .navbar-brand, .custom-topbar .navbar-text{
    color:#042348;
}

