.question-detail{
    padding:5%;
}

.question-title{
    background-color:grey;
    color:white;
    padding:1%;
    border-radius: 5px 5px 0px 0px;
}

.question-content{
    background-color:lightgrey;
    padding:1%;
    font-size:1rem;
}

.question-stamp{
    background-color:black;
    color:white;
    font-size:10px;
    padding-left:5px;
    border-radius: 0px 0px 5px 5px;
}

.answer{
    margin-top:5px;
    font-size:0.8rem;
    background-color:lightgrey;
    border: 1px solid black;
    border-radius:5px;
    padding-left:5px;
}


.answer-btn{
    font-size:0.8rem;
    width:20%;

}

.answer-box{
    font-size:0.8rem;
    width:500px;
    height:100px;
}

.post-answer{
    padding-top:5px;
}

.post-answer-btn{
    font-size:0.9rem;
    padding:4px;

}

.question-display{
    background-color:lightgrey;
    padding:5px;
    height:100vh;
}